<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete disk</title>
    <link rel="stylesheet" href="./css/dialogs.css">
</head>

<body>
    <main>
        <select id="selected-disk"></select>
        <input type="password" id="password" placeholder="Password">
        <img id="vsb" src="./img/visibility_off_white_24dp.svg">
        <button id="btn1">Delete</button>
    </main>
</body>
<script>
    let { ipcRenderer } = require("electron");
    let disks = document.getElementById("selected-disk");
    let password = document.getElementById("password");
    let btn = document.getElementById("btn1");
    let icon = document.getElementById("vsb");
    let visible = false;
    const visibleIcon = './img/visibility_white_24dp.svg';
    const notVisibleIcon = './img/visibility_off_white_24dp.svg';
    const setVisisbility = () => {
        visible = !visible;
        visible ? icon.setAttribute('src', visibleIcon) : icon.setAttribute('src', notVisibleIcon);
        visible ? password.setAttribute('type', 'text') : password.setAttribute('type', 'password');
    };
    icon.addEventListener('click', setVisisbility);
    ipcRenderer.on("send-info", (ev, diskList) => {
        diskList.forEach((diskName) => {
            disks.innerHTML += `<option value="${diskName}">${diskName}</option>`;
        });
    });
    btn.addEventListener('click', () => {
        ipcRenderer.sendSync('data', disks.value, password.value);
    });
</script>

</html>