html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}

@font-face {
  font-family: Oxygen;
  src: url(fonts/Oxygen-Regular.ttf);
}

body {
  font-family: Oxygen;
}