body {
    background-color: #363636;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 30px 1fr;
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

select,
input,
button {
	color: white;
	background-color: #242424;
	border: none;
	font-size: 20px;
	margin: 5px;
	padding: 5px 10px;
	width: auto;
	outline: none;
	cursor: pointer;
}

input {
	cursor: text;
	border: 2px solid transparent;
}

.input-error {
	border-color: red;
	color: red;
}

button:hover {
	background-color: #303030;
}

button:active {
	background-color: #2b2b2b;
}

#vsb {
	margin: auto;
	cursor: pointer;
}