* {
    font-family: sans-serif;
    font-size: 24px;
    background-color: #222;
    color: white;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: grid;
    grid-template-rows: 62px auto;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

select {
    outline: none;
}

main {
    display: grid;
    grid-template-columns: 2fr 5fr;
    overflow: hidden;
}

header {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

header section {
    margin: 0;
    padding: 16px;
    border: solid gray 1px;
}

header section h1 {
    margin: 0;
    padding: 0;
    display: inline;
}

header section button {
    outline: none;
    border: none;
    margin-left: 6px;
    margin-right: 6px;
    padding: 0;
    height: 26.4px;
    margin-left: auto;
}

header section button img {
    height: 26.4px;
    width: auto;
}

ul {
    list-style-type: none;
}

.disk-content {
    margin: 0;
    padding: 16px;
    overflow: auto;
    border: solid gray 1px;
}

.caret {
    display: flex;
    cursor: pointer;
}

.caret img {
    float: left;
    margin-right: 6px;
    height: 1em;
}

.file {
    display: flex;
    cursor: pointer;
    user-select: none;
}

.file .icon {
    margin-right: 6px;
    height: 1em;
}

.file .del {
    margin-left: 20px;
    height: 1em;
}

.file .exp {
    margin-left: 20px;
    height: 1em;
}

.nested {
    display: none;
}

.active {
    display: block;
    padding: 0px 0px 0px 1em;
}

.no-wrap {
    white-space: nowrap;
}

.arrow-deploy {
    transform: rotate(90deg)
}

.arrow-nested {
    transform: rotate(0deg)
}

.file-preview {
    display: grid;
    grid-template-rows: 50px auto;
    border-bottom: solid gray 1px;
    overflow: hidden;
}

.file-preview header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #333333;
    width: 100%;
    border-right: solid 1px gray;
}

.file-preview header div {
    margin-right: 6px;
    display: inline;
    background-color: transparent;
}

.file-preview header img {
    height: 15px;
    background-color: transparent;
    margin-left: 6px;
    cursor: pointer;
}
.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
    overflow: hidden;
}
.folder-menu {
    margin-left: auto;
    display: flex;
}
.file-menu {
    margin-left: auto;
    display: flex;
}
.folderMkr{
    display: flex;
}
.folderMkr img {
    height: 1em;
    margin-right: 6px;
}
.folderMkr input{
    font-size: 18px;
    border: 1px solid grey;
    outline: none;
}